body{font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.top-banner{
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat ;
}
.dream-big{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    /* padding-left: 10px;
    padding-right: 10px; */
   box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.experience-item h3{
    color: orange;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
#web-dev-baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}